* {
  text-decoration: none;
}

form {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
}

.card-thumb {
  height: 100px;
  width: 100px;
  border-radius:15%;
}

.card-recipe {
  color: black;
  font-family: monospace;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.card-recipe p {
  margin-top: 4px;
}

.card-display {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
}

